alembic==1.0.2
Flask==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
flask-jwt-extended==3.13.1
flask-whooshee==0.6.0
python-dotenv==0.9.1
Flask-RESTful==0.3.6
flask-marshmallow==0.9.0
passlib==1.7.1
marshmallow-sqlalchemy==0.15.0
Flask-Cors==3.0.7
psycopg2==2.7.6.1
marshmallow==2.19.0
Flask-Mail==0.9.1
SQLAlchemy==1.2.13
