<style>

html {
    position: relative;
    min-height: 100%;
}

body {
	font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding:0;
    background-color:#F5F6FA;
}
	
.container {
	margin:auto;
}

.row {
	min-height: auto;
}

.primary-text{
	font-weight:550;
	color:#269CCC;
}

/* HEADER */

header {
	margin-top:30px;
	border-bottom:4px solid #FC4A1A;
	flex-shrink:0;
}

header .row {
	padding-top:3px;
}

h1 {
	font-size:45px;
}

header .subheading {
	color:#170B3B;
/*	color:#170B3B;*/
	font-size: 20px;
	font-weight:500;
	text-transform:uppercase;
	margin-left:10px;
}

header a {
	text-decoration: none;
   touch-action: none;
}
header a:link{
	color:#269CCC;
}

header a:visited{
	color:#269CCC;
}

header a:hover{
	text-decoration:none;
	color:#269CCC;
}

header a:click{
	text-decoration:none;
	color:#269CCC;
}

#navbar {
	text-transform:uppercase;
}

#navbar li{
	font-size:16px;
	float:left;
	display:inline;
	padding-left:20px;
   line-height: 54px
}

#navbar a{
	text-decoration: none;
	color:#170B3B;
}

/*
#navbar a:hover{
	color:#269CCC;
	border-bottom: 3px solid #269CCC;
	padding-bottom: 3px;
}*/


/* SHOWCASE */

#showcase {
	background-color:#c9c9c9;
	color: #F5F6FA;
	/*border-bottom:3px solid #FC4A1A;*/
}

#showcase .row {
	padding-top:45px;
	padding-bottom:45px;
}

#showcase h1 {
	margin-top:15px;
	margin-bottom:35px;
/*	color: #170B3B*/
}

#showcase p {
	color: #363636;
	text-align: justify;
	line-height:1.75em;
	font-size:18px;
}

#left-logo {
    height:50px;
}

#right-logo {
    height:40px;
}

/* CONTROLS */

#controls {
	color: #b6b6b6;
	margin-top: 20px;
}

#controls h2{
	font-size:38px;
	font-weight:500;
	color: #170B3B
}

#filternav {
	text-transform:uppercase;
	font-size:20px;
	margin-top: 10px;
	margin-bottom:20px;
}

#filternav ul{
	margin:0px;
	padding:0px;
}

#filternav li{
	display:inline;
	list-style:none;	
	cursor:pointer;
}

#filternav #search_label{
	display:inline;
}

#filternav #searchbar{
	margin-left:15%;
}

#search_bar{
	float:right;
	display: none;
	font-size:12px;
}

#filternav #sort{
	margin-left:15%
}

#filternav #results{
	cursor:default;
	margin-left:5%
}

#filternav #add {
	float:right;
}

#filternav img{
	height:35px;
	padding-right:5px;
	padding-bottom:5px;
}

/* FILTERS */

#filters {
	padding-top: 20px;
	border: 3px solid #269CCC;	
}

#filters .container {
	max-height:300px;
}

#filters .col-xs-12, #filters .col-sm-3, #filters .col-md-3, #filters .col-lg-3 {
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
}

#filters label {
	font-size:18px;
	font-weight:600;
	color:#363636;
	padding-bottom: 10px;
}

#filters input:focus { 
    border-style: solid;
    border-color:#269CCC;
}

#filterlist {
	overflow:auto;
	line-height:1;
}

#filterlist label {
	padding-bottom: 0px;
	font-size: 18px;
	font-weight:500;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    border: 1.5px solid #acacac;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #269CCC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#searchbar input {
	margin-left:none
	padding:none;
	width:20%;
	margin-bottom: 40px;
	padding-left:3px;        
}

#filters #year{
	color:#fff
}

.range input {
	margin-left:none
	padding:none;
	width:20%;
	margin-bottom: 40px;
	padding-left:3px;
}

#filters #conference{
	margin-bottom: 15px;
}

/* DATASETS */

#dataset-display{
    min-height: 400px;        
}

#datasets {
	flex-grow:1;
	flex-shrink:0;
}

.panel {	
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;	
	padding:10px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 1px;
	border-color: #ddd;
	color: #f5f5f5;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel:hover{
	border: 3px solid #269CCC
}

.panel-heading {
	height: 200px;
	padding: 8px 8px 12px 8px;
	color: #333;
	border-bottom: 1px solid #ddd
}

.panel-body {
	padding: 0px 12px;
	height: 200px;
	border-top-color: #ddd;
	overflow-y:auto;
}

.panel-body #yr_conf {
	color: #269CCC;
	font-size: 14px;
	font-weight: 600;
	line-height:2;
}

.panel-body #name {
	color: #363636;
	font-size: 16px;
	font-weight: 600;
}

.panel-details {
	padding: 0px 12px;
	height: 200px;
	position: relative;
	bottom: 0px;
	display: none;
	overflow-y:auto;
	border-top: 1px solid #ddd;
}

.panel-details #metalabel {
	color: #898989;
	font-size: 14px;
	font-weight: 500;
}

.panel-details #metainfo {
	color: #363636;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
}

.panel-footer {
	height: 40px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}


/*.panel-footer #bookmark {
	float:left;
	padding: 10px 0px;
}*/


.panel-footer #link {
	margin-left:90%;
}

.panel-footer a {
    color: #acacac;
    text-decoration: none;
}

.panel-footer a:hover {
     color:#269CCC; 
     text-decoration:none; 
     cursor:pointer;  
}


#pagination {
	padding: 10px;
	text-align:center;
	color: #269CCC;
	font-size: 18px;
	font-weight: 600;
}

#pagination a{
	text-decoration:none;
}

#pagination a:link{
	color: #170B3B;
}

#pagination a:visited{
	color: #170B3B;
}

#pagination a:hover{
	color: #269CCC;
}

/* INFO VIEW */
#info-view{
	flex-grow:1;
	word-wrap: break-word;
}

#main-panel{
	margin-top: 40px;
	padding-right: 80px;
}


#main-panel h3 {
	color: #898989;
	font-size: 16px;
	text-align: justify;
	margin-top: 8px;
	
}

#info-view #yr_conf{
	color: #269CCC;
	font-size: 16px;
	font-weight: 600;
	line-height:1;
}

#info-view #link{
	font-size: 22px;
}

#info-view a {
    color: #acacac;
    text-decoration: none;
}

#info-view a:hover {
     color:#269CCC; 
     text-decoration:none; 
     cursor:pointer;  
}

#info-view p {
	color: black; 
	font-size: 16px;
	text-align: justify;
	margin-top:15px
}

#info-panel{
	background-color: #170B3B;
	color: white;
	font-size:16px;
	border-radius: 2px;
	margin-top: 40px;
   margin-bottom:40px;
   padding:20px;
	min-height: 400px;
	width: -webkit-fit-content;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: -ms-fit-content;
}

#info-panel #info-heading{
    margin-top:16px;
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;	
}

#info-panel #info-label{
	font-weight:500;
	color: #898989;

}

#info-panel #info{
	font-weight:500;
	color: white;
}

.thumbnail {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    min-width: 50%;
    max-width: 100%;
}

#info-footer{
    padding:20px;        
}

#edit-button img:hover, #delete-button img:hover{
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

#edit-button {
   cursor:pointer; 
	position: absolute;
   padding: 20px;
	bottom: 6px;
}

#delete-button {
   cursor:pointer; 
	position: absolute;
	bottom: 5px;
	right: 0px;
   padding:20px;
}

/* NEW DATASET */

textarea:focus, input:focus, input[type]:focus { 
    border-color:#269CCC;
}

.btn:focus{
    outline:none;
}

#new_dst_form button:hover{
    background-color:#A9A9A9;            
}

#new_dst_form button:hover > img{
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}


/* FOOTER */
footer {
    padding-top:20px;
    padding-bottom:20px;
    background-color: #170B3B;
    color: #7B7F92;
    text-align: center;
	 font-size: 12px;
}

footer a, footer a:link, footer a:hover, footer a:visited {
    color: #F5F6FA; 
    cursor:pointer;
}

footer p {
    margin-bottom:-1px;        
}


</style>