<section class="jumbotron text-xs-center" id="web-header">
    <img src="img/cvf.png" class="pull-right" style="height:120px; width:160px;margin-right:10px;float:right"></img>
    <img src="img/nsf4.png" class="pull-right" style="height:120px; width:120px;margin-right:20px;float:right"></img>
    <div class="container">
        <h1 class="jumbotron-heading">COVE</h1>
        <p class="lead text-muted">Test Computer Vision Exchange for Data, Annotation and Tools</p>
    </div>
</section>
<br>
<div class="container-fluid" role="main" style="padding-bottom: 5rem">
    <div class="col-md-12" style="padding: 0 0 0 0">
        <div class="row" style="margin-bottom: 10px; height:38px">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-mid-8 col-mid-offset-2 col-lg-8 col-lg-offset-2" style="max-height:100%; padding: 0 0 0 0">
                <div class="input-group" style="max-height:100%; padding: 0 0 0 0">
                    <input id="search-text" type="text" class="form-control" placeholder="Type your search query" aria-label="Text input with dropdown button">
                    <div class="input-group-btn">
                        <button id="search_target" type="button" class="btn btn-secondary dropdown-toggle"
                                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search for
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="" ng-click="search_dataset(10)">
                                Dataset
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_num(10)">
                                Datasample(10)
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_num(20)">
                                Datasample(20)
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_num(50)">
                                Datasample(50)
                            </a>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button id="type_button" type="button" class="btn btn-secondary dropdown-toggle"
                                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search by            
                        </button>
                        <div id = "search_datasample_option" class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="" ng-click="set_type('Text')">
                                Text
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_type('Dataset')">
                                Dataset
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_type('Annotation')">
                                Annotation
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_type('Category')">
                                Category
                            </a>
                        </div>

                        <div id = "search_dataset_option" class="dropdown-menu dropdown-menu-right" style="display: none">
                            <a class="dropdown-item" href="" ng-click="set_type('Name')">
                                Dataset Name
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_type('Annotation')">
                                Annotation
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_type('Conference')">
                                Conference
                            </a>
                            <a class="dropdown-item" href="" ng-click="set_type('Institution')">
                                Institution
                            </a>
                        </div>
                        <button type="button" class="btn btn-secondary" ng-click="click_search_button()">Go</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style=" padding: 0 0 0 0; height: 100%">
                <button type="button" class="btn btn-secondary" ng-click="go_to_download()" style=" float:right; padding: 0 0 0 0; height: 100%">
                    <img src="img/download_box.png" class="img-responsive" style="margin: 0 0 0 0;  max-height:90%">
                    </img>
                </button>
            </div>
        </div>
        <div id="advanced_search">
            <div id="advanced_hide">
                <div class="row">
                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label" style="padding-top: 5px">
                            Dataset
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-dataset" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>
                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Annotation
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-annote" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>

                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Category
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-cat" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>
                </div>
            </div>
            <div id="advanced_hide_dst">
                <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label" style="padding-top: 5px">
                            Tasks
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-task" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>
                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Year
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-year" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>

                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Institution
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-insti" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>

                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Conference
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-confer" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>

                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Data_type
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-dtype" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>

                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Annotation
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-atype" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>
                    <div id="advanced_option">
                        <div class="col-md-3 col-md-offset-3 option option-label">
                            Topic
                        </div>
                        <div class="col-md-6 option">
                            <input id="adv-topic" type="text" class="underlined option_input" placeholder="" style="margin-bottom: 5px">
                        </div>
                    </div>

            </div>
            <div id="dropdown_icon" style="text-align:center">
                <a href="" ng-click="advance_span()">
                    <span id="dd_icon" class="octicon octicon-chevron-down"></span>
                </a>
            </div>
        </div>
        <div style="text-align:center">
            <img id="spinner" src="img/spin.gif" style="width:50px;height:50px" ng-show="is_loading" />
        </div>
        <div id = "browse" class="container-fluid">
<!--             <div class="input-group-btn" id = "group_button">
                <button type="button" class="btn btn-secondary dropdown-toggle"
                                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Don't group
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="" ng-click="group_by_dontgroup()">
                        Don't group
                    </a>
                    <a class="dropdown-item" href="" ng-click="group_by_dataset()">
                        Dataset
                    </a>
                    <a class="dropdown-item" href="" ng-click="group_by_annotation()">
                        Annotation
                    </a>
                </div>
            </div> -->
            <div id="browse-side">
            </div>
            <div id="imgModal" class="modal">
              <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
              <img class="modal-content" id="img01">
            </div>
        </div>
    </div>
</div>

