<section class="jumbotron" style="position: relative;">
<div class="container">
  <h2>Pending Requests</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Invite</th>
      </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
  </table>
</div>
</section>


<div class="modal fade" id="login-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Administrator Login</h4>
            </div>
            <div class="modal-body">
               <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Username</span>
                    <input id="username" type="text" class="form-control" aria-describedby="sizing-addon3">
               </div>
               <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Password</span>
                    <input id="password" type="password" class="form-control" aria-describedby="sizing-addon3">
               </div>
               <div id = "messagegoeshere_login">
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="send_submission_request" type="button" class="btn btn-primary" ng-click="login()">Login</button>
            </div>
        </div>
    </div>
</div>
