<div style="padding-top:20px;padding-left:20%;padding-right:20%">
<div class="container-fluid" style="font-size: 80%">
  <div class="container-fluid" style = "width:95% ,padding: 5px 0"><h4 style="float: left; "><b>Add Dataset Requests</b></h4></div>
  <div class="container-fluid" id="add_request"></div>
</div>
<br>
<div class="container-fluid" style="font-size: 80%">
  <div class="container-fluid" style = "width:95% ,padding: 5px 0"><h4 style="float: left; "><b>Edit Dataset Requests</b></h4></div>
  <div class="container-fluid" id="edit_request"></div>
</div>
<br>
<div class="container-fluid" style="font-size: 80%">
  <div class="container-fluid" style = "width:95% ,padding: 5px 0"><h4 style="float: left; "><b>Delete Dataset Requests</b></h4>
  </div>
  <div class="container-fluid" id="delete_request">
  </div>
</div>
<br>
<div class="container-fluid" style="font-size: 80%">
  <div class="container-fluid" style = "width:95% ,padding: 5px 0"><h4 style="float: left; "><b>New Datasets</b></h4>
  </div>
  <div class="container-fluid" id="new_datasets">
  </div>
</div>
<br>
<div class="container-fluid" style="font-size: 80%">
  <div class="container-fluid" style = "width:95% ,padding: 5px 0"><h4 style="float: left; "><b>Modified Datasets</b></h4>
  </div>
  <div class="container-fluid" id="modified_datasets"></div>
</div>
</div>



