.jumbotron {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
  /*background-color: #fff;*/
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 500%;
}

.jumbotron .container {
  max-width: 50rem;
}

.container #advanced_search{
    max-width: 20rem;
    margin: 0 auto;
}


.footer .octicon {
    margin: 0.5rem;
}

.dropdownselect {
    margin-left: 15px;
}

.underlined {
    background-color:transparent;
    border-color: black;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding-left: 10px;
}

.option{
    margin-bottom:15px;
    text-align: left;
}

.option_input {
    width: 50%;
}

input:focus {
    outline: none !important;
    box-shadow: none;
}

#advanced_hide {
    display:none;
}

#advanced_hide_dst{
    display: none
}

#dd_icon{
    width:100px;
    display:block;
    margin: 0 auto;
    font: normal normal normal 30px/1 octicons;
    margin: 0 auto;

}

h2{
    text-align: center;
}

.column-set{
    text-align: center;
}

.row{
    margin-bottom: 1rem;
}

#dropdown_icon a:link {
    color: #0275d8;
    text-decoration: none;
    
}

#dropdown_icon a:visited {
    color: #0275d8;
    text-decoration: none;
    
}
#dropdown_icon a:hover {
    color: #0275d8;
    text-decoration: none;
    
}
#dropdown_icon a:active {
    color: #0275d8;
    text-decoration: none;
    
}

.data_download{
    margin-top: 30px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.dataset-row{
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    margin-bottom: 0.2rem;
}

.dontgroup-row{
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
}


.dataset-rowcontent{
    padding-top: 1.5rem;
    margin-top: 0.5rem;
}

.footer-text{
    margin-right:1.0rem;
}

a:link{
    color: #818a91;
}
a:visited{
   color: #818a91;
}
a:hover{
    color: #818a91;
}
a:active{
    color: #818a91;
}

.option-label{
    text-align: center;
}

.img-preview{
  width: 1000px;
  margin: 0 auto;
}
.img-row {
  margin-bottom: 8px;
}
.img-row:after {
  content: "";
  display: block;
  clear: both;
}
.img-box {
  float: left;
}
.img-line .img-box:first-child {
  padding-left: 1;
}


