<footer>
	<div class="container">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="row end-xs end-sm end-md end-lg middle-xs middle-sm middle-md middle-lg">
                <img id="left-logo" src="img/nsf.png">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">           
                <p>For feedback and inquiries, please contact us at <a href="mailto:cove@thecvf.com">cove@thecvf.com</a>.</p>
            </div>
            
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">           
                <p> This effort is sponsored by an <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1463102" target="_blank">award</a> from the National Science Foundation (NSF). </p>
            </div>
            
            <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                <p>Site maintained by Boston University, University of Michigan and Notre Dame. Updated 2018.</p>
            </div>
    		</div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="row start-xs start-sm start-md start-lg middle-xs middle-sm middle-md middle-lg">
                <img id="right-logo" src="img/cvf.png">
            </div>
        </div>
    	</div>
</footer>