<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="margin-bottom: 0">
    <a class="navbar-brand" href="#/">COVE</a>
    <ul class="nav navbar-nav">
        <!--li class="nav-item">
            <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
        </li-->
        <li class="nav-item">
            <a class="nav-link" href="http://nsf.gov/awardsearch/showAward?AWD_ID=1463102">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:jjcorso@umich.edu">Contact</a>
        </li>
    </ul>
</nav>

